.bue-ui .bocu-button-wrapper {
  display: inline-block;
}

.bue-ui .bocu-button-wrapper object {
  display: inline-block;
  vertical-align: top;
}

.uploadifyQueue {
  display: inline-block;
  font-size: .8em;
  margin-left: .5em;
}

.uploadifyQueue div {
  display: inline-block;
}

.uploadifyQueue .cancel {
  margin: 0 .3em 0 0;
}

.uploadifyQueue .uploadifyQueueItem {
  display: none;
}

.uploadifyQueue .uploadifyQueueItem:nth-child(1) {
  display: inline-block !important;
}
